<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener Microservice</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>URL Shortener Microservice</h1>
  <h2>Short URL Creation</h2>
  <p>Example: <code>POST [project_url]/api/shorturl - https://www.google.com</code></p>
  <form action="/api/shorturl" method="post">
    <fieldset>
      <legend>URL Shortener</legend>
      <label for="url">URL: </label>
      <input type="text" name="url" id="url" placeholder="https://www.freecodecamp.org">
      <input type="submit" value="POST URL">
    </fieldset>
  </form>
  <h2>Example Usage:</h2>
  <a href="https://forum.freecodecamp.org/">[this_project_url]/api/shorturl/3</a>
  <h3>Will redirect to:</h3>
  <p>https://forum.freecodecamp.org/</p>
</body>
</html>